.VypsatVyber{
    width: 100%;
    min-height: calc(100vh - 81px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.VypsatVyber .vypsane-nabídky{
    border: 1px solid red;
}
.VypsatVyber .vypsane-nabídky .jedna-nabídka{
    border: 1px solid red;
}